/* src/styles/_layout.scss */

/* CSS 요소 */
@mixin wh100 { width: 100%; height: 100%; }

/* position 레이아웃 */
@mixin position-absolute-center { transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; }
@mixin position-fixed-bottom-left($bottom, $left) { position: fixed; bottom: $bottom; left: $left; }
@mixin position-fixed-top-left($top, $left) { position: fixed; top: $top; left: $left; }
@mixin position-fixed-top-right($top, $right) { position: fixed; top: $top; right: $right; }
@mixin position-absolute-top-left($top, $left) { position: absolute; top: $top; left: $left; }
@mixin position-absolute-top-right($top, $right) { position: absolute; top: $top; right: $right; }
@mixin position-absolute-bottom-left($bottom, $left) { position: absolute; bottom: $bottom; left: $left; }
@mixin position-absolute-bottom-right($bottom, $right) { position: absolute; bottom: $bottom; right: $right; }
@mixin position-absolute-all($top, $right, $bottom, $left) { position: absolute; top: $top; right: $right; bottom: $bottom; left: $left; }

/* flex 레이아웃 */
@mixin flex-a-center { display: flex; align-items: center; }
@mixin flex-a-center-gap($gap) { @include flex-a-center; gap: $gap; }
@mixin flex-a-start { display: flex; align-items: flex-start; }
@mixin flex-a-end { display: flex; align-items: flex-end; }
@mixin flex-a-stretch { display: flex; align-items: stretch; }
@mixin flex-a-center-j-start { @include flex-a-center; justify-content: flex-start; }
@mixin flex-a-start-j-center { @include flex-a-start; justify-content: center; }
@mixin flex-a-center-j-end { @include flex-a-center; justify-content: flex-end; }
@mixin flex-a-center-j-between { @include flex-a-center; justify-content: space-between; }
@mixin flex-a-j-center { @include flex-a-center; justify-content: center; }
@mixin flex-column { display: flex; flex-direction: column; }
@mixin flex-a-center-column { @include flex-column; align-items: center; }
@mixin flex-a-center-column-gap($gap) { @include flex-a-center-column; gap: $gap; }
@mixin flex-wrap { display: flex; flex-wrap: wrap; }