html,
body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	//font-family: 'Pretendard', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul, ol, li {
	list-style: none;
}

p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin-block: 0;
	margin-inline: 0;
	padding-inline: 0;
	padding-block: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button[type="button"] {
	background-color: transparent;
	border: 0;
}