.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	position: sticky;
	top: 0;
	z-index: 100;
	.logo {
		font-weight: 700;
		font-size: 2.2rem;
		color: #222;
	}

	.profile {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: #555;
	}
}